.services__main {
    margin-bottom: 120px;
}

.services__main .pages__title {
    font-size: 68px;
    margin-bottom: 22px;
    text-transform: uppercase;
}

.services__main .projects__text {
    margin-bottom: 55px;
}

.services__page-slider {
    margin-top: 40px;
    overflow: hidden visible;
    padding: 20px;
}

.services__slide {
    text-align: center;
    padding: 40px 0;
    position: relative;
}

.services__page-slider-wrap {
    display: flex;
    align-items: center;
}

.services__slide::before {
    content: "";
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-47%, -50%) skew(-10deg);
    border: 3px solid #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    z-index: -1;
}

.services__slide a {
    text-decoration: none;
}

.services__slide-title {
    margin: 30px auto 0;
    font-style: italic;
    font-weight: 500;
    font-size: 20px;
    max-width: 260px;
}

.services__main .swiper-horizontal>.swiper-scrollbar {
    position: static;
    margin-top: 80px;
}

.services__main .swiper-scrollbar-drag {
    background: #e35d14;
}

@media (max-width: 992px) {
    .services__main .pages__title {
        font-size: 48px;
    }
}

@media (max-width: 768px) {
    .services__main .pages__title {
        font-size: 34px;
    }

    .services__slide-title {
        margin-top: 20px;
        font-size: 16px;
    }
}

.pages__header--black {
    background-color: #000;
    position: static;
}

.pages__header--black .header__contact, 
.pages__header--black .header__menu, 
.pages__header--black .header__phone,
.pages__header--black .language-items {
    color: #fff;
}

.pages__header--black .header__burger span {
    background-color: #fff;
}

.pages--services .tabs {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;
}

.tabs::-webkit-scrollbar {
    width: 0; 
}

.tabs .tab {
    flex-shrink: 0;
}

.services__page {
    background-color: #000;
    color: #fff;
    padding: 30px 0;
    margin-top: -5px;
}

.services__page .pages__title {
    font-size: 50px;
    margin: 0 0 17px;
    text-transform: uppercase;
    max-width: 1000px;
}

.services__page .projects__text {
    max-width: 949px;
    margin-bottom: 80px;
}

.services__block-title {
    font-style: italic;
    font-weight: 800;
    font-size: 28px;
    color: #E35D14;
    margin: 35px 0 30px;
}

.services__block-text {
    margin-bottom: 15px;
    font-style: italic;
    max-width: 100%;
    width: 1169px;
}

.services__block-text p {
    margin-bottom: 10px;
}

.services__block-accent {
    max-width: 100%;
    width: 834px;
    background: #E35D14;
    padding: 26px 0;
    margin-bottom: 50px;
    position: relative;
}

.services__block-accent::before {
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -10%;
    background: #E35D14;
    transform: skew(-10deg);
    z-index: -1;
}

.services__block-accent-title {
    font-style: italic;
    font-weight: 800;
    font-size: 28px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.services__block-accent-list,
.services__block-list {
    list-style: none;
    font-style: italic;
    font-weight: 500;
}

.services__block-list {
    margin-bottom: 60px;
}

.services__block-accent-list li,
.services__block-list li {
    margin-bottom: 5px;
    padding-left: 30px;
    position: relative;
}

.services__block-accent-list li::before,
.services__block-list li::before {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 20px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.services__block-list li::before {
    background-color: #000;
}

.services__exaples {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__exaples-swiper {
    padding: 2px 27px;
}

.services__examle {
    position: relative;
    width: 30%;
    min-height: 240px;
    padding: 10px;
    margin-bottom: 30px;
}

.services__example-adv {
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__examle h3 {
    font-style: italic;
    font-weight: 800;
    font-size: 18px;
    color: #E35D14;
    text-transform: uppercase;
    margin: 0 0 10px;
}

.services__example-adv::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skew(-10deg);
    border: 1px solid #E35D14;
    z-index: -1;
    transition: 0.3s;
}

.services__example-adv:hover::after {
    width: calc(100% - 15px);
    height: calc(100% - 15px);
}

.services__example-adv img {
    margin-bottom: 25px;
}

.services__examle::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skew(-10deg);
    border: 1px solid #E35D14;
    z-index: -1;
}

.services__example-cat {
    position: absolute;
    top: 10px;
    right: -15px;
    color: #fff;
    background: #707070;
    font-style: italic;
    font-weight: 900;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px 0;
}

.services__example-cat::before {
    content: "";
    width: 115%;
    height: 100%;
    background: #707070;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skew(-10deg);
    z-index: -1;
}

.services__block-steps {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

.services__block-step {
    width: calc((100%+90px)/4);
    padding: 30px 30px 50px;
    position: relative;
    margin-bottom: 116px;
}

.services__block-step .num{
    font-style: italic;
    font-weight: 800;
    font-size: 130px;
    display: block;
    margin-bottom: 30px;
    margin-left: 30px;
    -webkit-text-stroke: 1px #000;
    -webkit-text-fill-color: transparent;
    -ms-color: transparent;
    -ms-text-shadow: -1px -1px 0 #000,1px -1px 0 #000,-1px 1px 0 #000,1px 1px 0 #000;
}

.services__block-step:nth-of-type(even) .num {
    -webkit-text-stroke: 1px #fff;
    -webkit-text-fill-color: transparent;
    -ms-color: transparent;
    -ms-text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
}

.services__block-step::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skew(-10deg);
    z-index: -1;
    border: 1px solid #e35d14;
    background-color: #fff;
}

.services__block-step:nth-of-type(even) {
    transform: translateY(50px);
    color: #fff;
    margin-left: -30px;
    padding: 50px;
}

.services__block-step:nth-of-type(3n),
.services__block-step:nth-of-type(3n + 1) {
    z-index: 2;
    margin-left: -30px;
}

.services__block-step:nth-of-type(2n)::after  {
    background-color: #e35d14;
}

.services__block-step:nth-of-type(4n)::after  {
    background-color: #000;
}

.services__block-black {
    background-color: #000;
    color: #fff;
    padding: 60px 0 30px;
    margin-bottom: 90px;
}

.services__block-black-list {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

.services__block-black-item {
    width: 30%;
    margin-right: 3%;
    margin-bottom: 50px;
    position: relative;
    padding: 10px 30px 30px;
    z-index: 1;
}

.services__block-black-item::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skew(-10deg);
    z-index: 0;
    border-bottom: 1px solid #fff;
    border-left: 1px solid #fff;
}

.services__block-black-item h3 {
    font-style: italic;
    font-weight: 800;
    font-size: 22px;
    margin: 0 0 15px;
}

@media (max-width: 855px), (max-height: 700px) {
    .form, 
    .why-form--page .form {
        background-color: #e35d14;
    }

    .project__order .form::after, 
    .swiper-slide-active .form::after {
        width: 100vw;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .pages--services .header__contact {
        display: none;
    }
}

@media (max-width: 976px) {
    .services__block-accent::before {
        display: none;
    }

    .services__block-accent {
        width: 100%;
        padding: 20px;
    }
    
    .services__exaples .swiper-wrapper {
        padding: 0 20px;
    }

    .services__block-step {
        width: calc((100%+40px)/3);
        padding: 20px 20px 30px;
        position: relative;
        margin-bottom: 86px;
    }

    .services__block-step:nth-of-type(even) {
        transform: translateY(30px);
        margin-left: -10px;
        padding: 30px;
    }
    
    .services__block-step:nth-of-type(3n) {
        margin-left: -10px;
    }

    .services__block-step:nth-of-type(3n + 1) {
        margin-left: 0;
    }

    .services__block-step:nth-of-type(3n) {
        color: #fff;
    }

    .services__block-step:nth-of-type(3n) .num {
        -webkit-text-stroke: 1px #fff;
        -webkit-text-fill-color: transparent;
        -ms-color: transparent;
        -ms-text-shadow: -1px -1px 0 #fff,1px -1px 0 #fff,-1px 1px 0 #fff,1px 1px 0 #fff;
    }

    .services__block-step:nth-of-type(4n)::after  {
        background-color: #fff;
    }

    .services__block-step:nth-of-type(2n)::after  {
        background-color: #e35d14;
    }
    
    .services__block-step:nth-of-type(3n)::after  {
        background-color: #000;
    }
}

@media (max-width: 1380px){
    .pages .language {
        width: 75px;
    }
}

@media (max-width: 855px) {
    .pages--services .header .back {
        top: 70px;
    }

    .language-icon {
        display: none;
    }

    .pages--services .tab {
        font-size: 16px;
        margin-right: 15px;
    }

    .pages--services .pages__main {
        margin-top: 50px;
    }

    .services__page {
        padding: 70px 0 20px;
        margin-top: -101px;
    }

    .services__page .tabs {
        flex-direction: column;
    }

    .services__page .pages__title {
        font-size: 26px;
        margin: 30px 0 15px;
    }

    .services__block-title {
        font-size: 20px;
        margin: 20px 0;
        text-align: center;
    }

    .services__block-accent-title {
        font-size: 20px;
    }

    .services__examle {
        min-height: 180px;
        width: 45%;
    }

    .services__examle h3 {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .services__example-cat {
        font-size: 13px;
        padding: 5px 0;
    }

    .services__example-cat::before {
        width: 120%;
        height: 103%;
    }
}

@media (max-width: 768px) {
    .services__block-steps {
        padding: 0 20px;
    }

    .services__block-step .num {
        font-size: 100px;
        margin-bottom: 10px;
    }

    .services__block-step {
        width: 50.5%;
        padding: 20px;
        margin-bottom: 66px;
        margin-left: 0!important;
    }

    .services__block-step:nth-of-type(even) {
        margin-left: -1%!important;
    }

    .services__block-black-item {
        width: 47%;
    }
}

@media (max-width: 500px) {
    .services__exaples {
        justify-content: space-evenly;
    }

    .services__examle {
        width: 100%;
        max-width: 320px;
    }

    .services__example-adv {
        min-height: auto;
    }

    .services__example-adv img {
        max-width: 65px;
        height: auto;
    }

    .services__block-steps {
        justify-content: space-evenly;
    }

    .services__block-step {
        width: 100%;
        max-width: 240px;
        padding: 30px;
        margin-bottom: -15px;
        transform: none!important;
        margin-left: 0!important;
    }

    .services__block-step .num {
        font-size: 80px;
    }

    .services__block-black-item {
        width: 88%;
        margin: 0 6% 20px;
    }

    .services__block-black-item h3 {
        font-size: 18px;
        margin-bottom: 10px;
    }
}

.about-adv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 10vh;
}

.about-adv__left,
.about-adv_right {
    width: 45%;
    padding: 0;
    background: none;
}

.about-adv__left-text {
    color: #fff;
    margin: 0;
    margin-left: 7.5vw;
}

ul.about-adv_list {
    list-style: none;
    position: relative;
    padding-top: 2vh;
    width: 100%;
}

.about-adv_list::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) skew(-10deg);
        -ms-transform: translate(-50%, -50%) skew(-10deg);
            transform: translate(-50%, -50%) skew(-10deg);
    z-index: -1;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    opacity: 0;
    -webkit-transition: 0.3s ease-in-out 2s;
    -o-transition: 0.3s ease-in-out 2s;
    transition: 0.3s ease-in-out 2s;
}

.swiper-slide-active .about-adv_list::after {
    opacity: 1;
}

.about-adv_list li {
    padding: 1vh 4vw;
    font-size: 0.9vw;
    position: relative;
    margin-bottom: 1vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateY(150vw);
    -ms-transform: translateY(150vw);
        transform: translateY(150vw);
}

.swiper-slide-active .about-adv_list li {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
        transform: translateY(0);
    -webkit-transition: -webkit-transform 1.8s cubic-bezier(.1,.39,0,1.12) 0.1s;
    transition: -webkit-transform 1.8s cubic-bezier(.1,.39,0,1.12) 0.1s;
    -o-transition: transform 1.8s cubic-bezier(.1,.39,0,1.12) 0.1s;
    transition: transform 1.8s cubic-bezier(.1,.39,0,1.12) 0.1s;
    transition: transform 1.8s cubic-bezier(.1,.39,0,1.12) 0.1s, -webkit-transform 1.8s cubic-bezier(.1,.39,0,1.12) 0.1s;
    transition: transform 1.8s cubic-bezier(.1,.39,0,1.12) 0.1s,-webkit-transform 1.8s cubic-bezier(.1,.39,0,1.12) 0.1s;
}

.about-adv__left-box .about-adv_list li:nth-of-type(1) {
    margin-left: 8.5vh;
}

.about-adv__left-box .about-adv_list li:nth-of-type(2) {
    margin-left: 7.5vh;
}

.about-adv__left-box .about-adv_list li:nth-of-type(3) {
    margin-left: 6.5vh;
}

.about-adv__left-box .about-adv_list li:nth-of-type(4) {
    margin-left: 5.5vh;
}

.about-adv__left-box .about-adv_list li:nth-of-type(5) {
    margin-left: 4.5vh;
}

.about-adv__left-box .about-adv_list li:nth-of-type(6) {
    margin-left: 3.5vh;
}

.about-adv__left-box .about-adv_list li:nth-of-type(7) {
    margin-left: 2.5vh;
}

.about-adv__left-box .about-adv_list li:nth-of-type(8) {
    margin-left: 1.5vh;
}

.about-adv_right-box .about-adv_list li:nth-of-type(1) {
    margin-left: 5.5vh;
}

.about-adv_right-box .about-adv_list li:nth-of-type(2) {
    margin-left: 4.5vh;
}

.about-adv_right-box .about-adv_list li:nth-of-type(3) {
    margin-left: 3.5vh;
}

.about-adv_right-box .about-adv_list li:nth-of-type(4) {
    margin-left: 2.5vh;
}

.about-adv_right-box .about-adv_list li:nth-of-type(5) {
    margin-left: 1.5vh;
}

.about-adv_list li:nth-child(odd) {
    color: #000;
}

.about-adv_list li:nth-child(odd) span {
    color: #e35d14;
}

.about-adv_list li::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) skew(-10deg);
        -ms-transform: translate(-50%, -50%) skew(-10deg);
            transform: translate(-50%, -50%) skew(-10deg);
    z-index: -1;
}

.about-adv_list li:nth-child(odd)::before {
    background-color: #fff;
}

.about-adv_list li:nth-child(even)::before {
    background-color: #e35d14;
}

@media (max-width: 855px) {
    .about-adv__left::after {
        display: none;
    }

    .about-adv__left-text, .about-adv_right-text {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .about-adv {
        margin-top: 0;
    }

    .about-adv__left {
        width: 100%;
    }

    .about-adv_right {
        display: none;
    }

    .about-adv__left-text {
        margin-left: 0;
        border-bottom: 1px solid;
    }

    ul.about-adv_list {
        padding-top: 0;
    }

    .about-adv_list::after {
        display: none;
    }

    .about-adv_list li span {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .about-adv_list li span b {
        padding-left: 5px;
    }

    .about-adv_list li::before {
        -webkit-transform: translate(-50%, -50%) skew(0);
            -ms-transform: translate(-50%, -50%) skew(0);
                transform: translate(-50%, -50%) skew(0);
    }

    .about-adv_list li {
        padding: 9px 11px;
        font-size: 13px;
        width: 48%;
        min-width: 250px;
        margin-left: 0 !important;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
    }
}

@media (max-width: 500px) {
    .about-adv_list li {
        width: 100%;
    }

    .about-adv__left-text, 
    .about-adv_right-text {
        font-size: 15px;
        padding: 10px 0;
    }
}